body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 378px;
  height: 812px;
  position: relative;
  background: url(../images/active-ticket.svg);
  background-repeat: no-repeat;
}

.btn {
  /* border: 1px solid red; */
  position: absolute;
  left: 31px;
  top: 121px;
  width: 314px;
  height: 80px;
  border-radius: 8px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

