
.DygnsBiljett {
  position: absolute;
  width: 92px;
  height: 78px;
  left: 83px;
  top: 255px;
  background: url(\images\image_7.svg);

}
.DygnsBiljettText{
  position: absolute;
  width: 105px;
  height: 23px;
  left: 77px;
  top: 333px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
}