
.page {
  width: 378px;
  height: 812px;
  position: relative;
  background: url(../images/no-active-ticket.svg);
  background-repeat: no-repeat;
}

/*"Du har inga biljetter"- texten"*/
.testtext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}