
*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.page_wrap{
    min-height: 100%;
    background: #f3fcff;
}

header{
    box-sizing: border-box;
    height: 162px;
    width: 100%;

    background: url(../images/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    color: white;

    padding-top: 40px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 83px;
    background: white;
    border-top: solid;
    border-top-color: #E5E5E5;
    border-top-width: 1px;
}

#icontray{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.icon_box{
    display: block;
    width: 25%;
    text-align: center;
    color: #999;
    font-size: smaller;
}

#icon1 .icon_image{
    background: url(../images/ticket-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon_image{
    height: 60%;
}
