body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 378px;
  height: 812px;
  position: relative;
  background: url(../images/unused-tickets.svg);
  background-repeat: no-repeat;
}

.btn {
  /* border: 1px solid red; */
  position: absolute;
  left: 219px;
  top: 191px;
  width: 130px;
  height: 69px;
  border-radius: 15px;
}
.second {
  top: 306px;
}
.third {
  top: 421px;
}
.fourth {
  top: 536px;
}
.fifth {
  top: 651px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
